.flecha{
    font-size: 8em;
    position: relative;
    top: 100px;
}

.boton1{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-image:url("black.png") ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    text-align: center;
    user-select: none;
}

.porcentaje{
    font-size: 4em;
    text-align: center;
    padding: 20px;
    font-weight: 900;
   
}